body {
	font-family: 'Work Sans', sans-serif;
}

* {
	box-sizing: border-box;
}

.clearfix:after { 
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.wrap {
	margin: 0px auto;
	width: 94vw;
	max-width: 1500px;
}

.Fblock {
	width: 100%;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0px 4px 5px 0 rgba(58, 67, 70, 0.11);
}

.main-menu-container {
	display: flex;
}

.logo {
	margin-top: 27px;
	margin-right: 75px;
}  

.menu {
	display: flex;
}

.menu_item {
	margin-right: 25px;
	list-style: none;
	text-align: center;
	padding-top: 27px;
}

.menu_btn {
	text-decoration: none;
	color: #4f6569;
}

.btn {
	padding: 45px 35px;
	text-align: center;
	margin-top: -2px;
	background-color: #8564c1;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}
.main-section {
	color: #4f6569;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.56;
	font-size: 16px;
	font-weight: 500;
}

.text_section {
	margin: 0px auto;
	width: 80%;
	margin-top: 119px;
	text-align: justify;
}

.title {
	padding: 0;
	margin: 0;
	text-align: left;
	color: #57616b;
	font-size: 42px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
}
.btn_number {
	float: right;
	width: 188px;
	height: 68px;
	background-color: #ffffff;
	box-shadow: 0px 3px 5px 0 #dfe7eb;
	color: #4f6569;
	text-align: center;
	text-decoration: none;
}

.social_section {
	margin: 0px auto;
	margin-top: 106px;
	width: 80%;
	height: 68px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0px 3px 5px 0 #dfe7eb;
}

.sh_img {
		float: left;
		margin-top: 20px;
		margin-right: 15px;
		margin-left: 160px;
}
.Stay {
	float: left;
	width: 120px;
	height: 15px;
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	text-align: left;
	color: #8564c1;
}
.text_we {
	margin-top: 21px;
	float: left;
	text-align: left;
	color: #737778;
}
.tw_img {
	float: left;
	margin-top: 20px;
	margin-right: 15px;
	margin-left: 25px;
}
.tw1_img {
	float: left;
	margin-top: 20px;
	margin-right: 15px;
}

.rdy {
	margin-top: 169px;
	background-color: #fafcfd;
	padding-top: 96px;
}

.rdy_section {
	margin: 0px auto;
	width: 100%;
}

.rdy_section:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #bbc1cd;
}

.rdy_colum {
	width: 50%;
	float: left;
	margin-bottom: 96px;
}

.title-what {
	font-size: 42px;
	color: #57616b;
}  

.Book-professional {
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #8998a7;
	margin-top: 23px;
}

.rdy_btn_wrap {
	padding-left: 20px;
	margin-top: 53px;
}

.rdy_btn {
	padding: 20px 60px;
	border-radius: 29.1px;
	text-decoration: none;
	text-align: center;
	background-color: transparent;
	border: solid 2px #bbc1cd;
	color: #8c96aa;
}

.rdy_btn:hover {
	background-color: #8564c1;
	box-shadow: 0px 6px 18px 0 rgba(57, 73, 78, 0.28);
	color: #fff;
	border: none;
}

.rdy_btn:first-child {
	margin-right: 39px;
}

footer {
	display: flex;
	padding-top: 92px;
	justify-content: space-between;
}


.footer_colum {
	width: 25%;
	color: #737778;
}

.footer_text {
	margin-top: 30px;
	font-size: 16px;
}



.footer_info {
	width: 20%;
	color: #4f6569;
	font-weight: bold;
	margin-top: 15px;
	font-size: 15px;
	color: #4f6569;
}

.footer_info ul {
	margin: 0;
	padding: 0;
}

.footer_info ul li {
	list-style: none;
}

.footer_info ul li a {
	text-decoration: none;
}

.footer_info_loc{
	padding-left: 40px;
}

.footer_info_adress {
	background-image: url(img/home.png);
	background-repeat: no-repeat;
	padding-left: 30px;
}

.footer_info_call {
	margin-top: 34px;
	background-image: url(img/phone.png);
	background-repeat: no-repeat;
	padding-left: 30px;
}

.footer_info_mail {
	margin-top: 37px;
	background-image: url(img/dog.png);
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-bottom: 5px;
}

.footer_info_map {
	padding-left: 30px;
}

.footer_info_map li{
	margin-bottom: 15px;
}

.footer_info_map li a{
	color: #4f6569;
}

.footer_info_city {
	font-weight: normal;
}

.footer_info_city li {
	margin-bottom: 15px;
}

.footer_info_city_item {
	color: #4f6569;
}

.footer_info_city li a{
	padding-left: 30px;
}

.footer_info_city_mark {
	color: #8564c1;
	background-image: url(img/mark.png);
	background-repeat: no-repeat;
	padding-bottom: 6px;
}

.footer_line {
	display: flex;
	align-items: flex-end;
	padding-top: 40px;
	padding-bottom: 100px;
}

.create_wrap {
	margin-right: 220px;
}

.create_text {
	font-size: 15px;
	color: #4f6569;
}

.create_text:after {
	content: '';
	display: inline-block;
	width: 30px;
	height: 1px;
	background-color: #6d7678;
	margin-right: 7px;
	margin-bottom: 2px;
}

.create_logo {
	margin-top: 20px;
}

.footer_privacy {
	font-size: 15px;
	color: #949ba9;
	margin-right: 60px;
}

