body {
	font-family: 'Work Sans', sans-serif;
}

* {
	box-sizing: border-box;
}

.clearfix:after { 
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.wrap {
	margin: 0px auto;
	width: 94vw;
	max-width: 1500px;
}

.Fblock {
	width: 100%;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0px 4px 5px 0 rgba(58, 67, 70, 0.11);
}

.main-menu-container {
	display: flex;
}

.logo {
	margin-top: 27px;
	margin-right: 75px;
}  

.menu {
	display: flex;
}

.menu_item {
	margin-right: 25px;
	list-style: none;
	text-align: center;
	padding-top: 27px;
}

.menu_btn {
	text-decoration: none;
	color: #4f6569;
}

.btn {
	padding: 45px 35px;
	text-align: center;
	margin-top: -2px;
	background-color: #8564c1;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}
.main-section {
	color: #4f6569;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.56;
	font-size: 16px;
	font-weight: 500;
}
.text {
    width: 76%
}  
.text_section {
	margin: 0px auto;
	width: 80%;
	margin-top: 119px;
	text-align: justify;
}

.title {
	padding: 0;
	margin: 0;
	text-align: left;
	color: #57616b;
	font-size: 42px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
}
.text-list_item {
    width: 76%;
    list-style-type: upper-latin;
    
}