body {
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
}

.container {
	position: relative;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 42px;
	color: #57616b;
}

h2 {
	font-size: 32px;
	color: #57616b;
}

h3 {
	font-size: 20px;
	color: #57616b;
}

/* HEADER START */

.Fblock {
	border-radius: 5px;
	box-shadow: 0px 4px  5px 0 rgba(58, 67, 70, 0.11);
}

.head-logo {
	padding: 20px 0px 14px;
}

.menu {
	padding-top: 35px;
	list-style: none;
}

.menu_item {
	
}

.menu_btn {
	font-size: 15px;
	color: #4f6569;
	
}

.menu_btn:hover {
	text-decoration: none;
	color: #8564c1;
	transition: all .4s ease;
}

.menu_btn::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: #8564c1;
	transition: width .3s;
	margin-top: 29px;
}
.menu_btn:hover::after, .menu_btn:active::after {
	width: 100%;
	transition: width .3s;
}

.head-btn	{
	padding: 40px 35px;
	text-transform: uppercase;
	color: #fff;
	background-color: #8564c1;
}

.head-btn:hover {
	transition: all .4s ease;
	text-decoration: none;
	color: #fff;
	background-color: #8564c1de;
}

/* HEADER FINISH */

/* MAIN-SECTION START */

.faq {
	padding: 119px 0px;
}

.faq__title {
	text-align: center;
}

.faq__subtitle {
	margin-top: 20px;
	font-size: 18px;
	color: #8998a7;
}

.basics {
	padding-top: 75px;
}

.basics__card {
	margin-top: 27px;
	padding: 35px;
	border-radius: 5px;
  box-shadow: 0px 3px 7px 0 rgba(144, 151, 154, 0.28);
}

.card__icon	{
	display: block;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border-radius: 50%;
	position: relative;
}

.card__icon span,
.card__icon span::before {
	position: absolute;
	top: 50%; margin-top: -2.5px;
	left: 50%; margin-left: -10.5px;
	width: 21px;
	height: 5px;
	background-color: #8564c1;
	border-radius: 5px;
	transition: .5s;
}

.card__icon span::before {
	content: '';
	display: block;
	transform: rotate(90deg);	
}

.card__icon_active span::before {
	transform: rotate(0deg);
}

.card__body {
	margin-top: 23px;
	font-size: 16px;
	color: #737778;
}

.basics__title:nth-child(3){
	margin-top: 81px;
}

/* MAIN-SECTION FINISH */

/* FOOTER START */

footer {
	background-color: #fafcfd;
}

.question {
	padding: 90px 0px;
}

.question::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #bbc1cd;
	margin-top: 100px;
}

.question__title {
	font-size: 42px;
	color: #57616b;
}

.question__text {
	margin-top: 23px;
	font-size: 18px;
	color: #8998a7;
}

.question__btn-wrap {
	height: 100%;
	padding: 40px 0px;
}

.question__btn {
	padding: 20px 60px;
	background-color: transparent;
	color: #8c96aa;
	font-size: 15px;
	border-radius: 30px;
	border: solid 1px #bbc1cd;
	text-decoration: none;
}

.question__btn:hover {
	color: #fff;
	background-color: #8564c1;
	box-shadow: 0px 6px 18px 0 rgba(57, 73, 78, 0.28);
	border: solid 1px #8564c1;
	text-decoration: none;
}

.question__btn:first-child {
	margin-right: 40px;
}

.footer_info {
	padding-bottom: 100px;
}

.info__text {
	margin-top: 30px;
	font-size: 16px;
	color: #737778;
}

.cont__item {
	font-size: 15px;
	color: #4f6569;
	padding-left: 35px;
	background-repeat: no-repeat;
	list-style: none;
	margin-bottom: 30px;
}

.cont__item_adress {
	margin-top: 15px;
	background-image: url(../img/home.png);
}

.cont__item_phone {
	background-image: url(../img/phone.png);
}

.cont__item_mail {
	padding-bottom: 5px;
	background-image: url(../img/dog.png);
}

.footer-nav {
	padding-left: 40px;
}

.footer-nav li {
	margin-bottom: 15px;
}

.footer-nav li:first-child {
	margin-top: 15px;
}

.foooter-nav__item {
	color: #4f6569;
}

.foooter-nav__item:hover {
	text-decoration: none;
	color: #4f6569;
}

.loc {
	margin-top: 15px;
}

.loc__item {
	padding-left: 35px;
	padding-bottom: 13px;
}

.loc__title {
	background-image: url(../img/mark.png);
	background-repeat: no-repeat;
	color: #8564c1;
	padding-bottom: 20px;
}

.loc__btn {
	font-size: 16px;
	color: #4f6569;
	text-decoration: underline;
}

.loc__btn:hover {
	color: #4f656985;
}

.footer__line {
	margin-top: 50px;
}

.create__text {
	color: #4f6569;
}

.create__text::after {
	content: '';
	display: inline-block;
	height: 1px;
	width: 37px;
	background-color: #6d7678;
	margin-bottom: 4px;
	margin-left: 10px;
}

.create__logo {
	margin-top: 25px;
}

.footer__line_text {
	color: #949ba9;
}
/* FOOTER FINISH */